@font-face {
    font-family: 'Russo One';
    src: url("./fonts/RussoOne-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url("./fonts/OpenSans-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}
